/* Debung code */
article {
  border: solid 2px red;
}

img {
  border: dotted 2px black;
}

p { 
  border: dotted 2px green;
}

 /* Basislayout */

* {
  overflow: auto;
  box-sizing: border-box;
}

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(255, 255, 255);  
    
    color: #000000;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 1000px;
    position: relative;
}


article {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}


header {
    color: rgb(0, 0, 0);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

/* specifieke stijlen */


img.plaatje-rechts {
  float: right;
  width: 40%;
  margin-left: 15px;
}

img.plaatje-links {
  float: left;
  margin-right: 15px;
  width: 40%
}

img { 
   width: 100%;
}

img.plaatje-midden {
padding: 10px;
}

.kolomrechts {
  float: right;
  width: calc( 100% - 200px);
}

.kolomLinks {
  float: left;
  width: calc ( 100% - 200px);
}

.smalltext {
    font-size: 0.7em;
}

.floatClear {
  clear: both;
}

a {
    color: rgb(43, 150, 16);
    text-decoration: none;
}

p {
  padding: 5px;
  margin: 5px;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaa;
}

nav li a.active {
    background-color: rgb(43, 150, 16);
}




