/*
 * Handige instelligen om problemen te voorkomen
 */

 * {
   /* zorg dat border meetelt bij de width en height van boxen */
   box-sizing: border-box;
   /* zorgt dat DIV de hoogte krijgt van wat erin zit */
   overflow: auto; 
   /* standaard marge 0 */
   /*margin: 0px;*/
 }

 /*
  * Handige instellingen om fouten te zoeken
  */

* {
  /* zorg dat elke box eem gestippelde lijn krijgt, additive-symbols: */
   border: 1px dotted black;
  /* zorg dat elke box een doorzichtige donkere achtergrond krijgt, */
  /* background-color: rgba(0,0,5%) ; */
}

 /* Basislayout */

}

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(255, 255, 255);  
    
    color: #000000;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 1000px;
    position: relative;
}


article {
    text-align: justify;

}


header {
    color: rgb(0, 0, 0);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */


img.plaatje-links {
  float: left;
  margin-right: 15px;
}

img.plaatje-rechts {
  float: right;
  margin-left: 15px;
}

img.plaatje-midden {
margin-left: 35%;
 
}

.smalltext {
    font-size: 0.7em;
}



.floatClear {
  clear: both;
}

a {
    color: rgb(43, 150, 16);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaa;
}

nav li a.active {
    background-color: rgb(43, 150, 16);
}




